.pos-modal{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgba(0, 0, 0, 0.87);
}
.col-list-pos{
    float: left;
    width: calc(100% - 452px);
    height: calc(100vh - 50px);
    background: #fff;
}
.row-payman{
    height: calc(100vh - 50px);
    display: flex;
    padding: 5px 15px;
    flex-flow: column;
    background-color: #fff;
    border-left: 7px solid rgb(229, 229, 229);
}
.col-list-order{
    overflow-y: auto;
    transition: height 0.5s;
    height:100%;
}

.col-list-product{
    background: #fff;
    transition: height 0.5s;
}
.show-product{
    padding: 10px;
}
.wap-list{
    width: 100%;
    height: 33px;
    display: flex;
    font-weight: 500;
    padding-right: 15px;
    justify-content: space-between;
}
.row-payman{
    height: calc(100vh - 50px);
    display: flex;
    padding: 5px 15px;
    flex-flow: column;
    background-color: #fff;
}
.wrap-price{
    height: calc(100% - 40px);
    overflow-y: clip;

}
.wrap-price::-webkit-scrollbar { 
    display: none; 
}
.button-note p{
    border: 1px solid rgb(196, 205, 213);
    border-radius: 3px;
    padding: 2px;
    width: 30px;
    text-align: center;
}
.item-recomment{
    padding: 2px 20px;
    color:black;
    border-radius: 8px;
    background: #EBEDF1;
    cursor:pointer;
}

#txtPassword {
    -webkit-text-security: disc;
  }
  .panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
}



.splitter {
  flex: 0 0 auto;
  width: 18px;  
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;  
}



/* vertical panel */

.panel-container-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: none;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
  height: 328px;
  width: 100%;
  white-space: nowrap;
  color: white;
}

.splitter-horizontal {
    flex: 0 0 auto;
    z-index: 2;
    height: 9px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #e5e5e5;
    cursor: row-resize;
}

.panel-bottom {
  flex: 1 1 auto;
  z-index: 2;
  /* resizable */
  padding: 10px;
  min-height: 200px;
}



pre {
  margin: 20px;
  padding: 10px;
  background: #eee;
  border: 1px solid silver;
  border-radius: 4px;
  overflow: auto;
}