.file-input
  .file-preview
  .file-drop-zone
  .file-upload-indicator
  .fa.fa-plus-circle {
  display: none !important;
}
.file-zoom-dialog .modal-header {
  background-color: rgb(229, 111, 37) !important;
}
.file-zoom-dialog .kv-zoom-title {
  color: white !important;
}
.file-zoom-dialog .modal-title {
  display: none !important;
}
.file-zoom-dialog .kv-zoom-actions button {
  color: white !important;
  border-color: white !important;
}

.file-caption .file-caption-name {
  pointer-events: none !important;
}
.card-body123 .resp-table-row:nth-child(even) {
  background-color: white !important;
}
.card-body123 .resp-table-row:hover {
  background-color: #f2f2f2 !important;
}

.group-banner-image .upload__item {
  width: 290px !important;
}

.group-banner-image .upload__item .upload__item__content {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.sidebar__conditions__item {
  display: flex;
  align-items: center;
}
.sidebar__conditions__item__type {
  width: 370px;
  margin-right: 20px;
}

.sidebar__conditions__item__type select {
  width: 100%;
  border: 1px solid transparent;
  border-bottom-color: #d1d3e2;
  padding: 0.375rem 0.75rem;
  height: 38px;
  outline: none;
}

.sidebar__conditions__item__btnDelete {
  margin-left: 10px;
  cursor: pointer;
}
.sidebar__conditions__item__btnDelete svg {
  width: 16px;
  height: 16px;
}
.sidebar__conditions__dropdown {
  transition: max-height 0.5s linear;
  margin: 5px 0 15px;
}

.sidebar__conditions__dropdown__expression {
  height: 100%;
  width: 80px;
  flex-shrink: 0;
}

.sidebar__conditions__dropdown__expression select {
  border: 1px solid transparent;
  border-bottom-color: #d1d3e2;
  padding: 0.375rem 0.75rem;
  width: 100%;
  outline: none;
  height: 38px;
  cursor: pointer;
}

.sidebar__conditions__dropdown__value {
  width: 200px;
}

.sidebar__conditions__dropdown__value select {
  width: 100%;
  border: 1px solid transparent;
  border-bottom-color: #d1d3e2;
  padding: 0.375rem 0.75rem;
  height: 38px;
  outline: none;
}

.sidebar__conditions__dropdown__value > div {
  display: flex;
  border: 1px solid transparent;
  border-bottom-color: #d1d3e2;
  padding: 0.375rem 0.75rem;
  height: 38px;
}

.sidebar__conditions__dropdown__value > div input {
  width: 100%;
  text-align: right;
}

.sidebar__conditions__dropdown__input__number,
.sidebar__conditions__dropdown__date {
  text-align: left;
}
.sidebar__conditions__dropdown__collab {
  background-color: transparent;
  text-align: left;
}

.async-select {
  align-items: center;
}

.sidebar__conditions__dropdown__content {
  display: flex;
  column-gap: 20px;
  max-height: 38px;
}

.gift__image img {
  width: 130px;
  height: 130px;
}

.gift__image .has_image {
  z-index: 100;
}

.gift__image .has_image .background__hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  height: 130px;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.gift__image .has_image:hover .background__hover {
  display: flex;
}

.gift__image {
  position: relative;
  width: 130px;
  height: 130px;
}

.icon-close {
  position: absolute;
  top: -7px;
  right: -12px;
  z-index: 101;
  cursor: pointer;
}

.gift__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.gift__background label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input__label p {
  text-align: center;
  color: #8c8c8c;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 0;
}

.drop-file-input__label img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.drop-file-input__label span {
  position: relative;
}

.drop-file-input__label span svg {
  width: 28px;
  height: 28px;
}

.drop-file-input__label span & > span {
  position: absolute;
  margin-left: 2px;
}

.drop-file-input__label span & > span svg {
  width: 8px;
  height: 8px;
}

.drop-file-input__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 8px;
  align-items: center;
  padding: 40px;
}

.sidebar-filter {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.5s;
}

.sidebar-filter::-webkit-scrollbar {
  width: 0px !important;
}

.sidebar-filter__content {
  padding: 30px;
}

.sidebar-filter__content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.sidebar-filter__content__header h4 {
  color: #10a0b5;
}

.sidebar-filter__content__header > div {
  cursor: pointer;
}

.sidebar-filter__content__header > div i {
  font-size: 24px;
  color: #2d3436;
}

.sidebar__conditions__add {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.sidebar__conditions__add > div {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid rgb(218, 218, 225);
  color: #2d3436;
  cursor: pointer;
}

.sidebar__conditions__add > div span {
  transition: all 0.5s;
}

.sidebar__conditions__add > div span:hover {
  color: rgb(127, 140, 141);
}

.sidebar__conditions__add span:last-child {
  margin-left: 5px;
}

.sidebar__conditions__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.sidebar__conditions__btn button {
  width: 120px;
  padding: 6px 0;
  border-radius: 6px;
  outline: none;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
}

.sidebar__conditions__btn button:hover {
  transform: scale(1.05);
}
